
<p>
  <strong>Chosen Song</strong>
</p>

<div class="row">
    <div class="col-sm-6 col-sm-offset-3">

      <ul class="list-inline">
         <li><h2>Song: <%= @song.title %></h2></li>
         <li>Author: <%= @song.author %> </li>
         <li>Time: <%= @song.time %> </li>
         <li>Lyrics: <%= @song.lyric_lineID %> </li>


<p id="notice"><%= notice %></p>

<!-- <p>
  <strong>Title:</strong>
  <%= @song.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @song.author %>
</p> -->

<!-- <p>
  <strong>Time:</strong>
  <%= @song.time %>
</p>

<p>
  <strong>Lyric lineid:</strong>
  <%= @song.lyric_lineID %>
</p>

<p>
  <strong>Tune:</strong>
  <%= @song.tune %>
</p> -->

<%= link_to 'Back', songs_path %>
