<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @song.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @song.author %>
</p>

<p>
  <strong>Time:</strong>
  <%= @song.time %>
</p>

<p>
  <strong>Lyric lineid:</strong>
  <%= @song.lyric_lineID %>
</p>

<p>
  <strong>Tune:</strong>
  <%= @song.tune %>
</p>

<%= link_to 'Edit', edit_song_path(@song) %> |
<%= link_to 'Back', songs_path %>
